#anhtieude{
	width: 60%;
	height: auto;
	position: relative;
	top:40px;
	left:200px;	

}
#tieude{
	color: white;
	padding-top:20px;
}
#noidung{
	line-height: 30px;
	font-size: larger;
}

a{
color: #C5B6A1;
}